header {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1{
    color: darkblue;
}

footer {
    background-color: #99d7f6; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: darkblue;
}