{% extends "base.html.jinja" %}
{% block title %}
        O autorze
{% endblock title %}   

{% block content %}
        <p>Nie wiem co pisać na tej części strony. Autor ma problemy z matematyką.</p>
{% endblock content %}