{% extends "base.html.jinja" %}
{% block title %}
 <p>To jest plik z opisem projektu</p>
{% endblock title %}   
{% block content %}
        <p>Ceneo WebScraper to projekt mający na celu automatyzację procesu pobierania danych ze strony internetowej Ceneo, jednej z największych polskich porównywarek cen. Aplikacja jest zaprojektowana w taki sposób, aby zbierać szczegółowe informacje o recenzjach i ocenach, a następnie zapisywać te dane w różnych formatach plików, takich jak CSV, JSON i Excel.</p>
{% endblock content %}